{% extends "layout.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title_tag %}Album | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container">
    <h2>{% if is_own %}My Album{% else %}@{{ author.username }}'s Album{% endif %}</h2>
    <h5 class="text-primary">{{ image_list|length }} image(s)</h5>
    {% if is_own %}
    <a href="{% url 'upload' %}" class="btn btn-primary">+ Add new image</a>
    {% endif %}
    <hr>
    {% include "images/image_set.html" with controls_enabled=is_own %}
</div>

{% endblock %}
