{% extends "layout.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title_tag %}
Picture {{ image.title }} | {{ block.super }}
{% endblock %}

{% block body_content %}

<script src="{% static 'js/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.star-rating-svg.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.star-rating-svg.js' %}" type="text/css"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/star-rating-svg.css' %}"/>


<div class="container">
    <h2> The "{{ image.title }}" </h2>
    <p>by {% include "accounts/thumbnail_profile.html" with user=image.author %}</p>


    {% if image.author == request.user %}
    <form method="post" action="{% url 'delete' pk=image.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    {% endif %}

    <hr>

    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col col-sm-6">
                    <img class="img-rounded" src={{image.color_image.url}} class="img-responsive"/>
                </div>
                <div class="col col-sm-6">
                    <img class="img-rounded" src={{image.bw_image.url}} class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container">
    <h4>Created on</h4>
    <div class="panel">
        <div class="panel-body">
            <span class="text-primary">{{ image.created }}</span>
        </div>
    </div>
</div>
</div>
<!-- Rating related -->

<div class="container">
    <h4>Ratings</h4>
    <div class="panel">
        <div class="panel-body">
            <h5>{{ image.get_mean_rating }} of {{ image.rating_set.count }} rating(s)</h5>
            <div class="rating-large"></div>
        </div>
    </div>
    <p class="text-info">Leave a rating by interacting with the stars above!</p>
</div>
<script>
$(".rating-large").starRating({
    starSize: 40,
    useFullStars: true,
    initialRating: {{ image.get_mean_rating }},
    callback: (currentRating, $el) => {
        $.post("{% url 'image_rate' pk=image.pk %}", {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'rating': currentRating,
            success: () => {
                window.location.reload();
            },
        });
    },
});
</script>


<!-- Comments related -->


<div class="container">

    <h4> Comments </h4>

    {% for comment in image.comment_set.all %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% include "accounts/thumbnail_profile.html" with user=comment.author  %}
            <small class="text-secondary pull-right">{{ comment.created|date:"M j" }}</small>
        </div>
        <div class="panel-body">
            <strong> {{comment.text}} </strong>
        </div>
    </div>
    {% empty %}
    <h5>Nobody has commented on this image (yet).</h5>
    {% endfor %}

    <br/>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        <button type="submit" class="btn btn-primary"> Post </button>
    </form>
</div>

{% endblock %}
