{% extends "layout.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title_tag %}
Picture {{ image.title }} | {{ block.super }}
{% endblock %}

{% block body_content %}

<script src="{% static 'js/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.star-rating-svg.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.star-rating-svg.js' %}" type="text/css"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/star-rating-svg.css' %}"/>


<div class="container">
    <h2> The "{{ image.title }}" </h2>

    <div class="row">
        <div class="col col-md-6">
            <img src={{image.color_image.url}} class="img-responsive"/>
        </div>
        <div class="col col-md-6">
            <img src={{image.bw_image.url}} class="img-responsive"/>
        </div>
    </div>
</div>

<!-- Rating related -->

<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <div class="text">
                <span>{{ image.get_mean_rating }} of {{ image.rating_set.count }} rating(s)</span>
            </div>
            <div class="rating">
            </div>
        </div>
        <div class="col col-md-6 text-right">

            {% if image.author == request.user %}
                <form method="post" action="{% url 'delete' pk=image.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"> Delete </button>
                </form>
            {% endif %}

        </div>
    </div>
</div>
<script>
$(".rating").starRating({
    starSize: 20,
    useFullStars: true,
    initialRating: {{ image.get_mean_rating }},
    callback: (currentRating, $el) => {
        $.post("{% url 'image_rate' pk=image.pk %}", {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'rating': currentRating,
            success: () => {
                window.location.reload();
            },
        });
    },
});
</script>


<!-- Comments related -->


<div class="container" style="width: 50%;">

    <h2> Comments </h2>

    {% for comment in image.comment_set.all %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% include "accounts/thumbnail_profile.html" with user=comment.author  %}
            <small class="text-secondary pull-right">{{ comment.created|date:"M j" }}</small>
        </div>
        <div class="panel-body">
            <strong> {{comment.text}} </strong>
        </div>
    </div>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        <button type="submit" class="btn btn-primary"> Post </button>
    </form>
</div>

{% endblock %}
