<!-- Template used to render individual images. -->
{% load thumbnail %}
{% load static %}

<div class="panel-heading">
    <h3>{{ image.title }}</h3>
    <p class="emph">Created on {{ image.created }} </p>
    <p>by {% include "accounts/thumbnail_profile.html" with user=image.author %}</p>

</div>

<div class="panel-body">
    <div class="overlay">
        <a href="{% url 'image_detail' pk=image.pk %}">
        {% thumbnail image.color_image "200x200" crop="center" as color_thumb %}
        {% thumbnail image.bw_image "200x200" crop="center" as bw_thumb %}
            <img src="{{ bw_thumb.url }}"
                 width="{{ bw_thumb.width }}"
                 height="{{ bw_thumb.height }}"
                 onmouseover="this.src='{{color_thumb.url}}';"
                 onmouseout="this.src='{{bw_thumb.url}}';"
            />
        {% endthumbnail %}
        {% endthumbnail %}
        </a>
    </div>
</div>

<div class="panel-footer">
    <div class="text">
        <img class="icon-chevron-right" width="24" height="24"
                 src="{% static 'img/icons/Comments-48.png' %}" alt="comments"/>
        <span>{{ image.comment_set.count }}</span>
    </div>
    <div class="text">
        <img class="icon-chevron-right" width="24" height="24"
             src="{% static 'img/icons/Comments-48.png' %}" alt="comments"/>
        <span>{{ image.get_mean_rating }} of {{ image.rating_set.count }} rating(s)</span>
    </div>
    {% if controls_enabled %}
    <form method="post" action="{% url 'delete' pk=image.pk %}">
        {% csrf_token %}
        <input type="submit" value="Delete" />
    </form>
    {% endif %}
</div>
