<div class="container">
    {% if heading %}
        <h4> {{ heading }} </h4>
    {% endif %}
    <div class="row">
    {% for image in image_list %}
        {% if small %}
        <div class="col col-xs-4 col-md-2" style="padding: 5px">
        {% else %}
        <div class="col col-xs-6 col-md-4" style="padding: 5px">
        {% endif %}
            <div class="panel">
                {% include "images/image.html" %}
            </div>
        </div>
    {% empty %}
        <h5> No images have been uploaded yet.</h5>
    {% endfor %}
    </div>
</div>
