{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title_tag %} Latest pictures | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container">
    <h2> Newsfeed </h2>
    <ul class="list-group">
    {% for image in image_list %}
        <li class="list-group-item">
            <div class="container">
                {% include "images/image.html" %}
            </div>
        </li>
    {% empty %}
        <h5> No images have been uploaded yet to the website.</h5>
        <h5> Be the first one to upload a picture!</h5>
        <a href="{% url 'upload' %}" cls="btn btn-default btn-block" >+ Add new</a>
    {% endfor %}
    </ul>
</div>
{% endblock %}
