{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title_tag %} Latest pictures | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container">
    <h2> Newsfeed </h2>
    <hr />
    {% include "images/image_set.html" with heading='New' image_list=new_images %}
    {% include "images/image_set.html" with heading='Following' image_list=following_images %}
    {% include "images/image_set.html" with heading='Trending' image_list=trending_images %}
    {% include "images/image_set.html" with heading='Random' image_list=random_images %}
</div>
{% endblock %}
