{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title_tag %}Login | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container">
    <h1>My profile</h1>
    <img src="{{ user.profile.avatar_url_or_default }}" alt="avatar"/>
    <h3>@{{ request.user.username }}</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        {% bootstrap_form profile_form %}
        <input type="submit" value="Save changes" class="btn btn-primary btn-block"/>
    </form>
</div>
{% endblock %}