{% extends "layout.html" %}
{% load bootstrap3 %}
{% load friendshiptags %}

{% block title_tag %} Profile | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container">
    <h2>Profile of @{{ user.username }} </h2>
    <img src="{{ user.profile.avatar_url_or_default }}" class="img-rounded" style="width: 128px; height: 128px;" alt="avatar"/>

    <p> {{ user.get_full_name }} joined colorzr on {{ user.date_joined }} </p>

    <a href="{% url 'album' username=user.username %}"> See his album </a>
    <div class="text">
        <span>{{ user.profile.follower_count }} follower(s)</span>
        {% if following %}
         | <string>Following</string>
        {% endif %}
    </div>

    {% if following %}
    <form method="post" action="{% url 'unfollow'%}">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.username }}" />
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        <input type="submit" class="btn btn-primary" value="- Unfollow"/>
    </form>
    {% else %}
    <form method="post" action="{% url 'follow'%}">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.username }}" />
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        <input type="submit" class="btn btn-primary" value="+ Follow" />
    </form>
    {% endif %}
</div>
{% endblock %}
