{% extends "layout.html" %} {% load static from staticfiles %} {% block body_content %}

<div class="container">
	{% if user.is_authenticated %}

	<h3>Your uploaded images</h3>
		<ul class="list-group">
		{% for image in images_list %}
			<li class="list-group-item">
					<img src="{{ image.original_image.url }}" height="400" width="400"></img>
			</li>
		{% endfor %}
	</ul>
	{% else %}

	<!-- Some view for non-auth users -->
	<h3>You are not logged in!!</h3>

	{% endif %}

</div>

{% endblock %}