{% extends "layout.html" %}
{% load static from staticfiles %}

{% block body_content %}
			{% if user.is_authenticated %}
			<!-- TODO ericpts: populate homepage when user is logged in-->
			{% else %}
				<div class="landing-header">
					<div class="container">
						<div class="motto">
							<h1 class="title-uppercase">COLORZR</h1>
							<h3>Colorize your memories</h3>
							<h6>Using novel deep-learning techniques to colorize black-white photos</h6>
						</div>
					</div>
				</div>

				<div class="container">
					<h2 class="align-header-center">How it works!</h2>
				</div>
				<br>
				<br>

				<div class="container">
					<div class="homepage-flow-container">
						<div class="inline-container">
							<div class="center-container rounded-border">
								<span style="font-size: 2em;">Log in</span>
							</div>														
						</div>

						<div class="inline-container">
								<div class="center-container">
									<i class="fa fa-angle-right fa-5x"></i>
								</div>														
						</div>					

						<div class="inline-container">
								<div class="center-container-inverted">
									<p>Upload your photo</p>
									<img class="align-photo-middle cut-photo" src="{% static 'img/photos/wizard-of-oz-bw.jpg' %}">
								</div>														
						</div>
						
						<div class="inline-container">
								<div class="center-container">
									<i class="fa fa-angle-right fa-5x"></i>
								</div>														
						</div>						
					
						<div class="inline-container">
								<div class="center-container-inverted">
									<p>Get a coloured version</p>
									<img class="align-photo-middle cut-photo" src="{% static 'img/photos/wizard-of-oz-colorized.jpg' %}">
								</div>														
						</div>					
				</div>
				{% endif %}
{% endblock %}
